[user]
	email = {{ .email | quote }}
	name = Francisco Penedo Alvarez
  # signingkey = A3198FD716A360D0!
[push]
	default = simple
[core]
	excludesfile = /home/fran/.gitignore
	editor = nvim
[credential]
	helper = /usr/share/git/credential/gnome-keyring/git-credential-gnome-keyring
[github]
	user = fran-penedo
[commit]
	# gpgsign = true
	verbose = 1
