[Unit]
Description=Scrap alerts job
Wants=wait-for-network.service
After=wait-for-network.service

[Service]
WorkingDirectory=/home/fran/dev/scrap_alerts
ExecStart=/home/fran/Documents/virtualenvs/scrap_alerts/bin/python /home/fran/dev/scrap_alerts/scrap_alerts.py
